<div class="row">
    <div class="col-sm text-right text-success">
	{{burger_name}}
    </div>
    <div class="col-sm text-left">
	{{#if devoured}}
      <button class="change-devour btn btn-sm btn-success m-1" data-id="{{id}}" data-devour="{{devoured}}">
			
		Devour it!	

	</button>
	{{else}}
	{{/if}}
    </div>
  </div>